body{
    background-color:whitesmoke;
}

.cont{
    position:absolute;
    left:50%;
    top:50%;
    width:500px;
    height:500px;
    translate:-50% -50%;
}
canvas{
    position:absolute;
    width:100%;
    height:100%;
}
#can{
    /* display:none; */
    z-index:2;
}
#can-sand{
    image-rendering:pixelated;
    z-index:1;
}